<!DOCTYPE html>
<html>
<head>
    <title>AVI Calculator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css">
    <style>body{padding-top:60px;}</style>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/lib/widget.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Logging -->
    <script type='text/javascript'>
        window._gaq = window._gaq || [];
        window._gaq.push(["_setAccount", "UA-35850648-4"]);
        window._gaq.push(["b._setAccount", "UA-860026-1"]);
        if(window.location.hostname === "cityofphiladelphia.github.com" || window.location.hostname === "avicalculator.phila.gov" || window.location.hostname === "phlavi.herokuapp.com") {
            // Google Analytics
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            // Muscula
            window.Muscula = { settings:{logId:"XCgjQIC-vKY0n", suppressErrors: false, branding: 'none'}};
            (function () {
                var m = document.createElement('script'); m.type = 'text/javascript'; m.async = true;
                m.src = (window.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//musculahq.appspot.com/Muscula.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(m, s);
                window.Muscula.run=function(c){eval(c);window.Muscula.run=function(){};};
                window.Muscula.errors=[];window.onerror=function(){window.Muscula.errors.push(arguments);
                return window.Muscula.settings.suppressErrors===undefined;}
            })();
        }
    </script>
</head>
<body>

    <!-- Phila.gov Nav Bar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#"><img src="images/cityLogo-31px.png" alt="City Seal"></a>
				<span class="hidden-phone"><a class="brand" href="#"><img src="images/cityLogoMark-145-30.png" alt="City Logo"></a></span>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a title="Visit The City's Homepage" href="http://www.phila.gov"><i class="icon-home icon-white"></i></a></li>
						<li><a title="Topics" href="http://www.phila.gov/Topics">Topics</a></li>
						<li><a title="People We Serve" href="http://www.phila.gov/PeopleWeServe">People We Serve</a></li>
						<li><a title="Agencies" href="http://www.phila.gov/Agencies">Government</a></li>
						<li><a title="311" href="http://www.phila.gov/311">Contact 311</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

    <!-- Main Content Container -->
    <div class="deprecation-warning">
      <div class="container">
        <h3>
          The Actual Value Initiative has ended and this application is no longer in service.
          To estimate real estate taxes for a property, please visit
          <a href="//property.phila.gov">property.phila.gov</a>.
        </h3>
      </div>
    </div>
    <div class="container" id="main"></div>

    <!-- AJAX loading spinner -->
    <div class="loader"><span class="icon"></span></div>

    <!-- Home View Template -->
    <script type="text/template" id="tmpl-home">
        <h1><%= D("app_title") %></h1>
        <h3><%= D("app_desc1") %></h3>
        <p><%= D("app_desc2") %></p>
        <% if(data.noresults) { %>
        <div class="alert alert-error"><%= D("error_no_matches", data.input) %> <%= data.field !== "actnum" ? D("error_best_results") : "" %><%= D("error_should_have_worked", [data.input, data.input]) %></div>
        <% } %>
        <form>
            <div class="input-prepend">
                <div class="btn-group" id="field" data-value="<%= data.field || "address"%>">
                    <button class="btn dropdown-toggle disabled" data-toggle="dropdown" type="button">
                        <span class="dropdown-value"><%= data.field === "actnum" ? D("account") : D("address") %></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="" data-value="address" data-placeholder="<%= D("address_example") %>"><%= D("address") %></a></li>
                        <li><a href="" data-value="actnum" data-placeholder="<%= D("account_example") %>"><%= D("account") %></a></li>
                    </ul>
                </div>
                <input disabled type="text" name="input" id="input" value="<%= data.input || "" %>" placeholder="<%= data.field === "actnum" ? D("account_example") : D("address_example") %>" autofocus>
            </div>
            <button disabled class="btn btn-large btn-primary" type="submit"><i class="icon-search icon-white"></i> <%= D("search_button") %></button>
        </form>

        <ul id="language" class="nav nav-pills pull-right">
            <li<% if(AVI.language === "en"){ %> class="active"<%}%>><a href="" data-value="en">English</a></li>
            <li<% if(AVI.language === "es"){ %> class="active"<%}%>><a href="" data-value="es">Español</a></li>
            <li<% if(AVI.language === "zh"){ %> class="active"<%}%>><a href="" data-value="zh">繁體中文</a></li>
            <li<% if(AVI.language === "ko"){ %> class="active"<%}%>><a href="" data-value="ko">한국어</a></li>
            <li<% if(AVI.language === "ru"){ %> class="active"<%}%>><a href="" data-value="ru">Русский</a></li>
            <li<% if(AVI.language === "vi"){ %> class="active"<%}%>><a href="" data-value="vi">Tiếng Việt</a></li>
        </ul>
    </script>

    <!-- Property View Template -->
    <script type="text/template" id="tmpl-property">
        <h1>
            <%= data.property.location %>
            <% if($.trim(data.property.unit)) { %>
                <span class="unit"><%= D("unit") %>: <%= data.property.unit %></span>
            <% } %>
            <small><%= D("account") %> <%= data.property.parcel_number %></small>
        </h1>
        <div class="row">
            <div class="span4">
                <div class="widget">
                    <div class="widget-header">
                        <h3><%= D("previous_value") %></h3>
                    </div>
                    <div class="widget-content">
                        <% var prev = data.assessmentHistory[1]; %>
                        <ul class="nav nav-list">
                            <li class="nav-header"><%= D("market_value") %></li>
                            <li><span class="marketvalue">$<%= util.formatNumber(prev.market_value, false) %></span></li>
                            <li class="nav-header"><%= D("land_value") %></li>
                            <li>$<%= util.formatNumber(prev.taxable_land + prev.exempt_land, false) %></li>
                            <li class="nav-header"><%= D("improvement_value") %></li>
                            <li>$<%= util.formatNumber(prev.taxable_building + prev.exempt_building, false) %></li>
                            <li class="nav-header"><%= D("exempt_value") %></li>
                            <li>$<%= util.formatNumber(prev.exempt_land + prev.exempt_building, false) %></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="widget">
                    <div class="widget-header">
                        <h3><%= D("new_value") %></h3>
                    </div>
                    <div class="widget-content">
                        <% var next = data.assessmentHistory[0]; %>
                        <% if(next.market_value >= 0) { %>
                        <ul class="nav nav-list">
                            <li class="nav-header"><%= D("market_value") %></li>
                            <li><span class="marketvalue">$<%= util.formatNumber(next.market_value, false) %></span></li>
                            <li class="nav-header"><%= D("land_value") %></li>
                            <li>$<%= util.formatNumber(next.taxable_land + next.exempt_land, false) %></li>
                            <li class="nav-header"><%= D("improvement_value") %></li>
                            <li>$<%= util.formatNumber(next.taxable_building + next.exempt_building, false) %></li>
                            <li class="nav-header"><%= D("exempt_value") %></li>
                            <li>$<%= util.formatNumber(next.exempt_land + next.exempt_building, false) %></li>
                        </ul>
                        <% } else { %>
                            <%= D("error_being_updated") %>
                        <% } %>
                    </div>
                </div>
            </div>
            <% if(next.market_value >= 0) { %>
            <div class="span4">
                <div class="widget">
                    <div class="widget-header">
                        <h3><%= D("estimate_2014_tax").replace("2014", next.year) %></h3>
                    </div>
                    <div class="widget-content">
                        <div class="alert alert-block">
                            <h4>Remember!</h4>
                            To estimate <strong>2019</strong> real estate taxes for <code><%= $.trim(data.property.location) %></code>, please go to <a href="//property.phila.gov?a=<%= encodeURIComponent($.trim(data.property.location)) %>" target="_blank">property.phila.gov</a>
                        </div>
                        <ul class="nav nav-list">
                            <li class="nav-header<%= data.property.homestead_exemption ? ' hidden' : '' %>"><%= D("homestead_exemption") %></li>
                            <li class="<%= data.property.homestead_exemption ? ' hidden' : '' %>">
                                <select name="homestead" id="homestead" class="input-medium">
                                    <option value="0"><%= D("select_option") %>...</option>
                                    <option value="0"><%= D("no_homestead") %></option>
                                    <option value="30000">$30,000</option>
                                </select>
                            </li>
                            <li class="nav-header"><%= D("taxable_market_value") %></li>
                            <li><span id="taxable-value"></span></li>
                            <li class="nav-header"><%= D("tax_rate") %></li>
                            <li>1.3998%</li>
                            <li class="nav-header"><%= D("estimated_2014_tax").replace("2014", next.year) %></li>
                            <li>
                                <div class="above"><button class="btn btn-large"><%= D("estimate_button") %></button></div>
                                <div class="beneath"><span id="tax"></span></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <div class="widget">
            <div class="widget-header">
                <h3><%= D("property_info") %></h3>
            </div>
            <div class="widget-content">
                <div class="row">
                    <div class="span6">
                        <ul class="nav nav-list">
                            <li class="nav-header"><%= D("owners") %></li>
                            <li>
                                <%= data.property.owner_1 %>
                                <br>
                                <%= data.property.owner_2 %>
                            </li>
                            <li class="nav-header"><%= D("zip") %></li>
                            <li><%= data.property.zip_code %>
                            <li class="nav-header"><%= D("sale_date") %></li>
                            <li><%= util.friendlyDate(data.property.sale_date) %></li>
                            <li class="nav-header"><%= D("sale_price") %>*</li>
                            <li>$<%= util.formatNumber(data.property.sale_price || 0) %></li>
                            <li class="nav-header"><%= D("homestead") %></li>
                            <li><%= data.property.homestead_exemption ? D("yes") : D("no") %>**</li>
                        </ul>
                    </div>
                    <div class="span5">
                        <ul class="nav nav-list">
                            <li class="nav-header"><%= D("land_area") %></li>
                            <li><%= util.formatNumber(data.property.total_area || 0) %> SqFt</li>
                            <li class="nav-header"><%= D("improvement_area") %></li>
                            <li><%= util.formatNumber(data.property.total_livable_area || 0) %> SqFt</li>
                            <li class="nav-header"><%= D("beginning_point") %></li>
                            <li><%= data.property.beginning_point %></li>
                            <li class="nav-header"><%= D("ext_condition") %></li>
                            <li><%= window.D("cond_" + (data.property.exterior_condition ? data.property.exterior_condition : "0")) %></li>
                            <li class="nav-header"><%= D("zoning") %></li>
                            <li><%= data.property.zoning %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p><%= D("disclaimer_learn") %></p>
        <p>* <%= D("disclaimer_sale_price") %></p>
        <p>** <%= data.property.homestead_exemption ? D("disclaimer_homestead_yes") : D("disclaimer_homestead_no")%></p>

        <a href="#" class="btn btn-large"><i class="icon-chevron-left"></i> <%= D("new_search_button") %></a>

    </script>

    <!-- Multiple Properties View Template -->
    <script type="text/template" id="tmpl-search-results">
        <h3><%= D("multiple_properties_found") %></h3>
        <ul class="nav nav-tabs nav-stacked" id="list"></ul>
        <button class="btn btn-large btn-block more" type="button" data-loading-text="Loading" data-error-text="<%= D("error")%>"><%= D("more_button") %></button>
        <br><br><a href="#" class="btn btn-large"><i class="icon-chevron-left"></i> <%= D("new_search_button") %></a>
    </script>

    <!-- Property Row View Template for Multiple Properties -->
    <script type="text/template" id="tmpl-search-results-row">
        <!-- <a href="#view/<%= data.searchResultsRow.properties.opa_account_num %>"><%= data.searchResultsRow.properties.street_address %></a> -->
        <a href="#view/<%= data.searchResultsRow.properties.opa_account_num %>"><%= data.searchResultsRow.properties.street_address %></a>
    </script>

    <!-- Error View Template -->
    <script type="text/template" id="tmpl-error">
        <h1><%= D("error") %></h1>
        <%= data.message %>
        <br><%= D("error_addendum") %>
        <br><br>
        <a href="#" class="btn btn-large"><i class="icon-chevron-left"></i> <%= D("new_search_button") %></a>
        <a href="#" rel="reload" class="btn btn-large btn-info"><i class="icon-repeat icon-white"></i> <%= D("try_again_button") %></a>
    </script>

    <!-- Libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>if(window.jQuery === undefined) document.write("<script src=\"js/lib/jquery.min.js\"><\/script>")</script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>-->
    <script>if(window._ === undefined) document.write("<script src=\"js/lib/underscore-min.js\"><\/script>")</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script>if(window.Backbone === undefined) document.write("<script src=\"js/lib/backbone-min.js\"><\/script>")</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    <script src="js/lib/jquery.cookie.min.js"></script>
    <script src="js/lib/jquery-jsonp.min.js"></script>
    <script src="js/lib/spinner.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=Promise"></script>

    <!-- Application -->
    <script src="js/util.js"></script>
    <script src="js/dictionary/en.js"></script>
    <script src="js/dictionary/es.js"></script>
    <script src="js/dictionary/ru.js"></script>
    <script src="js/dictionary/zh.js"></script>
    <script src="js/dictionary/vi.js"></script>
    <script src="js/dictionary/ko.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
