<!DOCTYPE html>
<html>
<head>
    <title>AVI Calculator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css">
    <style>body{padding-top:60px;}</style>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/lib/widget.css">
    <link rel="stylesheet" href="css/styles.css">
    
    <!-- Logging -->
    <script type='text/javascript'>
        window._gaq = window._gaq || [];
        window._gaq.push(["_setAccount", "UA-35850648-4"]);
        window._gaq.push(["b._setAccount", "UA-860026-1"]);
        if(window.location.hostname === "cityofphiladelphia.github.com" || window.location.hostname === "avicalculator.phila.gov" || window.location.hostname === "phlavi.herokuapp.com") {
            // Google Analytics
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            // Muscula 
            window.Muscula = { settings:{logId:"XCgjQIC-vKY0n", suppressErrors: false, branding: 'none'}};
            (function () {
                var m = document.createElement('script'); m.type = 'text/javascript'; m.async = true;
                m.src = (window.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//musculahq.appspot.com/Muscula.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(m, s);
                window.Muscula.run=function(c){eval(c);window.Muscula.run=function(){};};
                window.Muscula.errors=[];window.onerror=function(){window.Muscula.errors.push(arguments);
                return window.Muscula.settings.suppressErrors===undefined;}
            })();
        }
    </script>
</head>
<body>

    <!-- Phila.gov Nav Bar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#"><img src="images/cityLogo-31px.png" alt="City Seal"></a>
				<span class="hidden-phone"><a class="brand" href="#"><img src="images/cityLogoMark-145-30.png" alt="City Logo"></a></span>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a title="Visit The City's Homepage" href="http://www.phila.gov"><i class="icon-home icon-white"></i></a></li>
						<li><a title="Topics" href="http://www.phila.gov/Topics">Topics</a></li>
						<li><a title="People We Serve" href="http://www.phila.gov/PeopleWeServe">People We Serve</a></li>
						<li><a title="Agencies" href="http://www.phila.gov/Agencies">Government</a></li>
						<li><a title="311" href="http://www.phila.gov/311">Contact 311</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
    
    <!-- Main Content Container -->
    <div class="container" id="main"></div>
    
    <!-- AJAX loading spinner -->
    <div class="loader"><span class="icon"></span></div>
    
    <!-- Home View Template -->
    <script type="text/template" id="tmpl-home">
        <h1><%= D("app_title") %></h1>
        <h3><%= D("app_desc1") %></h3>
        <p><%= D("app_desc2") %></p>
        <% if(data.noresults) { %>
        <div class="alert alert-error"><%= D("error_no_matches", data.input) %> <%= data.field !== "actnum" ? D("error_best_results") : "" %><%= D("error_should_have_worked") %></div>
        <% } %>
        <form>
            <div class="input-prepend">
                <div class="btn-group" id="field" data-value="<%= data.field || "address"%>">
                    <button class="btn dropdown-toggle" data-toggle="dropdown" type="button">
                        <span class="dropdown-value"><%= data.field === "actnum" ? D("account") : D("address") %></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="" data-value="address" data-placeholder="<%= D("address_example") %>"><%= D("address") %></a></li>
                        <li><a href="" data-value="actnum" data-placeholder="<%= D("account_example") %>"><%= D("account") %></a></li>
                    </ul>
                </div>
                <input type="text" name="input" id="input" value="<%= data.input || "" %>" placeholder="<%= data.field === "actnum" ? D("account_example") : D("address_example") %>" autofocus>
            </div>
            <button class="btn btn-large btn-primary" type="submit"><i class="icon-search icon-white"></i> <%= D("search_button") %></button>
        </form>
        
        <ul id="language" class="nav nav-pills pull-right">
            <li<% if(AVI.language === "en"){ %> class="active"<%}%>><a href="" data-value="en">English</a></li>
            <li<% if(AVI.language === "es"){ %> class="active"<%}%>><a href="" data-value="es">Español</a></li>
            <li<% if(AVI.language === "zh"){ %> class="active"<%}%>><a href="" data-value="zh">繁體中文</a></li>
            <li<% if(AVI.language === "ko"){ %> class="active"<%}%>><a href="" data-value="ko">한국어</a></li>
            <li<% if(AVI.language === "ru"){ %> class="active"<%}%>><a href="" data-value="ru">Русский</a></li>
            <li<% if(AVI.language === "vi"){ %> class="active"<%}%>><a href="" data-value="vi">Tiếng Việt</a></li>
        </ul>
    </script>
    
    <!-- Property View Template -->
    <script type="text/template" id="tmpl-property">
        <h1>
            <%= data.property.address %>
            <% if($.trim(data.property.unit)) { %>
                <span class="unit"><%= D("unit") %>: <%= data.property.unit %></span>
            <% } %>
            <small><%= D("account") %> <%= data.property.actnum %></small>
        </h1>
        <div class="row">
            <div class="span4">
                <div class="widget">
                    <div class="widget-header">
                        <h3><%= D("previous_value") %></h3>
                    </div>
                    <div class="widget-content">
                        <ul class="nav nav-list">
                            <li class="nav-header"><%= D("market_value") %></li>
                            <li><span class="marketvalue">$<%= util.formatNumber(data.property.value2013market) %></span></li>
                            <li class="nav-header"><%= D("land_value") %></li>
                            <li>$<%= util.formatNumber(data.property.value2013land) %></li>
                            <li class="nav-header"><%= D("improvement_value") %></li>
                            <li>$<%= util.formatNumber(data.property.value2013imp) %></li>
                            <li class="nav-header"><%= D("exempt_value") %></li>
                            <li>$<%= util.formatNumber(data.property.value2013exempt) %></li>
                            <li class="nav-header"><%= D("tax_2013") %></li>
                            <li>$<%= util.formatNumber(data.property.tax2013, 0) %></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="widget">
                    <div class="widget-header">
                        <h3><%= D("new_value") %></h3>
                    </div>
                    <div class="widget-content">
                        <% if(data.property.value2014market >= 0) { %>
                        <ul class="nav nav-list">
                            <li class="nav-header"><%= D("market_value") %></li>
                            <li><span class="marketvalue">$<%= util.formatNumber(data.property.value2014market) %></span></li>
                            <li class="nav-header"><%= D("land_value") %></li>
                            <li>$<%= util.formatNumber(data.property.value2014land) %></li>
                            <li class="nav-header"><%= D("improvement_value") %></li>
                            <li>$<%= util.formatNumber(data.property.value2014imp) %></li>
                            <li class="nav-header"><%= D("exempt_value") %></li>
                            <li>$<%= util.formatNumber(data.property.value2014exempt) %></li>
                        </ul>
                        <% } else { %>
                            <%= D("error_being_updated") %>
                        <% } %>
                    </div>
                </div>
            </div>
            <% if(data.property.value2014market >= 0) { %>
            <div class="span4">
                <div class="widget">
                    <div class="widget-header">
                        <h3><%= D("estimate_2014_tax") %></h3>
                    </div>
                    <div class="widget-content">                        
                        <ul class="nav nav-list">
                            <li class="nav-header"><%= D("homestead_exemption") %></li>
                            <li>
                                <select name="homestead" id="homestead" class="input-medium">
                                    <option value="0"><%= D("select_option") %>...</option>
                                    <option value="0"><%= D("no_homestead") %></option>
                                    <option value="30000">$30,000</option>
                                </select>
                            </li>
                            <li class="nav-header"><%= D("taxable_market_value") %></li>
                            <li><span id="taxable-value"></span></li>
                            <li class="nav-header"><%= D("tax_rate") %></li>
                            <li>
                                <div id="rate-container" class="input-append">
                                    <input class="span1 spinner-input" id="rate" type="text" value="1.34">
                                    <span class="add-on">%</span>
                                    <button class="btn spinner-down" type="button"><i class="icon-chevron-down"></i></button>
                                    <button class="btn spinner-up" type="button"><i class="icon-chevron-up"></i></button>
                                </div>
                            </li>
                            <li class="nav-header"><%= D("estimated_2014_tax") %></li>
                            <li>
                                <div class="above"><button class="btn btn-large"><%= D("estimate_button") %></button></div>
                                <div class="beneath"><span id="tax"></span></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <div class="widget">
            <div class="widget-header">
                <h3><%= D("property_info") %></h3>
            </div>
            <div class="widget-content">
                <div class="row">
                    <div class="span6">
                        <ul class="nav nav-list">
                            <li class="nav-header"><%= D("owners") %></li>
                            <li>
                                <%= data.property.owner1 %>
                                <% if(data.property.owner1) { %><br><%= data.property.owner2 %><% } %>
                            </li>
                            <li class="nav-header"><%= D("zip") %></li>
                            <li><%= data.property.zip %>
                            <li class="nav-header"><%= D("sale_date") %></li>
                            <% saledateParts = data.property.saledate ? data.property.saledate.match(/.{1,2}/g) : ""; %>
                            <li><%= typeof saledateParts === "object" ? saledateParts.join("/") : data.property.saledate %></li>
                            <li class="nav-header"><%= D("sale_price") %>*</li>
                            <li>$<%= util.formatNumber(data.property.saleprice || 0) %></li>
                            <li class="nav-header"><%= D("homestead") %></li>
                            <li><%= data.property.homestead %></li>
                        </ul>
                    </div>
                    <div class="span5">
                        <ul class="nav nav-list">
                            <li class="nav-header"><%= D("land_area") %></li>
                            <li><%= util.formatNumber(data.property.landarea || 0) %> SqFt</li>
                            <li class="nav-header"><%= D("improvement_area") %></li>
                            <li><%= util.formatNumber(data.property.imparea || 0) %> SqFt</li>
                            <li class="nav-header"><%= D("beginning_point") %></li>
                            <li><%= data.property.beginpoint %></li>
                            <li class="nav-header"><%= D("ext_condition") %></li>
                            <li><%= data.property.extcondition %></li>
                            <li class="nav-header"><%= D("zoning") %></li>
                            <li><%= data.property.zoning %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p><%= D("disclaimer_learn") %></p>
        <p><%= D("disclaimer_appeal") %></p>
        <p>* <%= D("disclaimer_sale_price") %></p>
        
        <a href="#" class="btn btn-large"><i class="icon-chevron-left"></i> <%= D("new_search_button") %></a>
        
    </script>
    
    <!-- Multiple Properties View Template -->
    <script type="text/template" id="tmpl-properties">
        <h3><%= D("multiple_properties_found") %></h3>
        <ul class="nav nav-tabs nav-stacked" id="list"></ul>
        <button class="btn btn-large btn-block more" type="button" data-loading-text="Loading" data-error-text="<%= D("error")%>"><%= D("more_button") %></button>
        <br><br><a href="#" class="btn btn-large"><i class="icon-chevron-left"></i> <%= D("new_search_button") %></a>
    </script>
    
    <!-- Property Row View Template for Multiple Properties -->
    <script type="text/template" id="tmpl-properties-row">
        <a href="#view/<%= data.property.actnum %>"><%= data.property.address %><% if(data.property.unit) { %> <span class="unit"><%= D("unit") %> : <%= data.property.unit %></span><% } %></a>
    </script>
    
    <!-- Error View Template -->
    <script type="text/template" id="tmpl-error">
        <h1><%= D("error") %></h1>
        <%= data.message %>
        <br><%= D("error_addendum") %>
        <br><br>
        <a href="#" class="btn btn-large"><i class="icon-chevron-left"></i> <%= D("new_search_button") %></a>
        <a href="#" rel="reload" class="btn btn-large btn-info"><i class="icon-repeat icon-white"></i> <%= D("try_again_button") %></a>
    </script>

    <!-- Libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>if(window.jQuery === undefined) document.write("<script src=\"js/lib/jquery.min.js\"><\/script>")</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script>if(window._ === undefined) document.write("<script src=\"js/lib/underscore-min.js\"><\/script>")</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
    <script>if(window.Backbone === undefined) document.write("<script src=\"js/lib/backbone-min.js\"><\/script>")</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    <script src="js/lib/jquery.cookie.min.js"></script>
    <script src="js/lib/jquery-jsonp.min.js"></script>
    <script src="js/lib/spinner.js"></script>
    
    <!-- Application -->
    <script src="js/util.js"></script>
    <script src="js/dictionary/en.js"></script>
    <script src="js/dictionary/es.js"></script>
    <script src="js/dictionary/ru.js"></script>
    <script src="js/dictionary/zh.js"></script>
    <script src="js/dictionary/vi.js"></script>
    <script src="js/dictionary/ko.js"></script>
    <script src="js/app.js"></script>
</body>
</html>